<!doctype html>
<html>
<head>
    <title>Family Recipes ♡</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Jost:ital@0;1&family=Kdam+Thmor+Pro&family=Macondo&family=Poppins:ital,wght@0,300;0,400;0,500;1,200&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/5429a7e2cf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <img class="firstGif" src="img/start.gif" alt="opening banner">
        <p>Save your cherished family recipes and connect with others here!</p>
        <div class="homeLinks">
        <a href="/login" class="btn btn-default">Log In</a><span> Or</span>
        <a href="/signup" class="btn btn-default">Sign Up</a>
        </div>
    </div>

</div>
</body>
</html>
