* {
  text-align: center;
}

body{
  font-family: "Josefin Sans", "Poppins", "Futura", "sans-serif";
  text-align: center;
  background-color: #c6d1c7;
}

.firstGif{
  width: 40%;
}

.bookFront {
  width: 53%;
  margin-top: 1em;
}

.homeLinks {
  text-align: center;
  margin-top: 2%;
  font-size: 2em;
}

.navbar-inverse {
  background-color: #c6d1c7;
  border-color: #000000;
}

h2, h3 {
  font-family: "Josefin Sans", "Poppins", "Futura", "sans-serif";
}

a {
  color: rgb(0, 0, 0);
}